@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
*:focus {
  outline: none!important;
}
::-webkit-scrollbar {
  width: 10px;
  background: #fff;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px grey;
  box-shadow: inset 0 0 2px grey;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #020E1B;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #020E1B;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  min-width: 320px;
  position: relative;
	background-color: #fff;
	color: #050505;
}
section,
.wraper {
  max-width: 1400px;
  margin: 0 auto;
	padding: 0px 15px;
}
.content {
	padding: 30px 15px;
}
a {
	color: #050505;	
	text-decoration: none;
	display: inline-block;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 60px;
}
ul, ol {
	padding: 0px;
	margin: 0px;
}
ul li, ol li {
	list-style-type: none;
}
p {
	margin-top: 0px;
}
.content__custom,
.content__text {
	max-width: 1120px;
	margin: 0 auto;
	line-height: 2.0;
}
.content__text p {
	margin-bottom: 0px;
}
.custom__img {
	height: 550px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.custom__img img {
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.custom__img__second {
	height: 450px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.custom__img__second img {
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
/*header*/
.header__menu {
	height: 175px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	max-width: 260px;
	padding-left: 70px;
	position: relative;
}
.logo a {
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;
}
.logo a::before {
	content: '';
	width: 50px;
	height: 50px;
	background-color: #ff0000;
	position: absolute;
	border-radius: 50%;
	left: 0;
}
.logo p {
	font-size: 18px;
}
.list {
	font-weight: 600;
	font-size: 20px;
}
.list li {
	display: inline;
	margin-left: 15px;
}
.list li a.active,
.list li a:hover {
	color: #ff0000;
	transition: 0.2s;
}
.sub__menu {
	position: relative;
}
.sub__menu a {
	padding-right: 20px;
}
.sub__menu a::after {
	content: '';
	top: 2px;
	right: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url(../img/down_b_arrow_icon.svg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.menu__dropdown {
  border: 1px solid #ebebeb;
	border-radius: 5px;
	z-index: 99;
	background-color: #fff;
	position: absolute;
	width: 195px;
	right: 0;
	display: none;
}
.menu__dropdown li {
	margin: 0;
}
.menu__dropdown li:first-child a {
	padding-top: 15px;
}
.menu__dropdown li:last-child a {
	padding-bottom: 15px;
}
.menu__dropdown li a {
  display: block;
	padding: 10px 15px;
	font-size: 17px;
}
.menu__dropdown li a::after {
  content: none;
}
nav.menu ul li:hover > ul {
	display:block;
	transition: 0.5s;
}
.content_breadcrumbs {
  background-color: #ebebeb;
	max-width: 100%;
	margin-bottom: 30px;
}
.page__title {
  max-width: 1430px;
  margin: 0 auto;
	padding: 30px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	font-size: 20px;
  font-weight: 600;
}
.breadcrumbs {
	font-size: 16px;
}
/*slider__main*/
.slider {
	max-width: 100%;
	padding: 0;
	margin-bottom: 30px;
}
.swiper-slide {
	position: relative;
}
.image-slider {
	color: #fff;	
	height: 550px;
}
.img__overlay{
	width: 100%;
	height: 100%;
	background: rgba(31,31,31,0.6);
	position: absolute;
}
.slider__content {
  max-width: 1440px;
  margin: 0 auto;
	padding: 0 15px;
}
.swiper-slide {
	font-weight: 600;
}
.swiper-slide h1 {
	text-transform: uppercase;
	margin-top: 200px;
}
.swiper-slide p {
	font-size: 23px;
}
.swiper-pagination-fraction {
	font-size: 25px;
	text-align: right;
  padding-right: 15%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	padding: 15px 20px;
	border-radius: 50%;
}
/**/
.content__category {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(4, 1fr);;
	gap: 15px;
}
.category__item {
	text-align: center;
	border: 1px solid #f7f7f7;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
}
.category__item a {
	padding: 50px 0px;
	width: 100%;
	height: 100%;
}
.category__item:nth-child(odd)::after {
	content: '';
  height: 10px;
	width: 100%;
	position: absolute;
	bottom: -8px;
	background-color: #f7f7f7;
	left: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.category__item:nth-child(even) {
  background-color: #ebebeb;
}
.category__item img {
	height: 115px;
}
.image-slider-main {
	padding-bottom: 70px;
}
.image-slider-main .swiper-button-next, .image-slider-main .swiper-button-prev {
  top: auto;
	bottom: 5px;
}
.image-slider-main .swiper-button-next {
	right: calc(50% - 50px);
}
.image-slider-main .swiper-button-prev::after,
.image-slider-main .swiper-button-next::after {
 padding: 10px 15px;	
 border-radius: 50%;
 border: 1px solid #050505;
 color: #050505;
 font-size: 20px;
}
.image-slider-main .swiper-button-next::after {
	border-color: #ff0000;
	color: #fff;
	background-color: #ff0000;
}
.image-slider-main .swiper-button-next:hover:after {
	border-color: #050505;
	color: #050505;
	background-color: #fff;	
	transition: 0.4s;
}
.image-slider-main .swiper-button-prev:hover:after {
	border-color: #ff0000;
	color: #fff;
	background-color: #ff0000;
	transition: 0.4s;
}
.image-slider-main .swiper-button-prev {
	left: calc(50% - 50px);
}
.category__title {
  font-weight: 600;
	font-size: 23px;
}
.details__text span {
	font-weight: 600;
}
.details__content {
  display: grid;
	justify-content: center;
  grid-template-columns: repeat(4, 1fr);;
	gap: 15px;
}
.details__content__item {
  text-align: center;
}
.code {
  grid-column: 1;
	grid-row: 1;
}
.address {
  grid-column: 2/4;
	grid-row: 1;
}
.phone {
  grid-column: 4;
	grid-row: 1;
}
/**/
.details__content__title {
	font-size: 25px;
	text-align: center;
	margin-bottom: 50px;
}
.details__title {
	font-weight: 600;
	font-size: 20px;
}
/**/
.content__blog {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(3, 1fr);;
	gap: 50px;
	margin-bottom: 30px;
}
.blog__item {
	border: 1px solid #ebebeb;
	padding: 20px;
	border-radius: 10px;
}
.blog__item__text {
	padding: 15px 20px ;
}
.blog__item__text:hover {
	color: #ff0000;
}
.blog__item__img {
  height: 275px;
	position: relative;
}
.blog__item__img img {
	width: 100%;
	height: 100%;
	position: absolute;
}
/**/
.airlines__wrap {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(3, 1fr);;
	gap: 30px;
}
.airlines__wrap__item {
	text-align: center;
	border: 1px solid #ebebeb;
}
.airlines__wrap__item a {
  width: 100%;
}
.airlines__wrap__item a:hover .airlines__text {
	color: #ff0000;
	transition: 0.4s;
}
.airlines__wrap__item img {
  max-height: 100px;
	padding: 25px 0px 20px;
}
.airlines__text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	background-color: #ebebeb;
	margin-bottom: 0px;
	padding: 15px 0px;
}
/**/
.rental__wrap {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(3, 1fr);;
	gap: 30px;
}
.rental__wrap__item {
	text-align: center;
	border: 1px solid #ebebeb;
}
.rental__wrap__item a {
  width: 100%;
}
.rental__wrap__item a:hover .rental__text {
	color: #ff0000;
	transition: 0.4s;
}
.rental__wrap__item img {
  max-height: 100px;
	padding: 25px 0px 20px;
}
.rental__text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	background-color: #ebebeb;
	margin-bottom: 0px;
	padding: 15px 0px;
}
/**/
.content__custom .content__category {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(3, 1fr);;
	gap: 30px;
	margin-top: 30px;
}
.content__custom .content__category a {
	padding: 70px 0px;
}
.content__custom .category__title {
  margin-bottom: 0;
}
/**/
.transport__wrap {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(3, 1fr);;
	gap: 30px;
}
.transport__wrap__item {
	text-align: center;
	border: 1px solid #ebebeb;
}
.transport__wrap__item a {
	width: 100%;
}
.transport__wrap__item a:hover .transport__text {
	color: #ff0000;
	transition: 0.4s;
}
.transport__img {
	height: 200px;
	padding: 12px 10px 10px;
	overflow: hidden;
}
.transport__wrap__item img {
  width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.transport__text {
	font-weight: 600;
	font-size: 20px;
	background-color: #ebebeb;
	margin-bottom: 0px;
	padding: 15px 0px;
	width: 100%;
}
/**/
.hotels {
	display: grid;
	justify-content: center;
  grid-template-columns: repeat(2, 1fr);;
	gap: 10px;	
}
/**/
.rental__single {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}
.left .link {
	width: 100%;
	font-weight: 600;
	text-decoration: underline;
	border: 1px solid #ebebeb;
	text-align: center;
	padding: 20px;
}
.right  {
  position: sticky;
  top: 0;
  align-self: start;
}
.contact {
	margin-bottom: 18px;
}
.contact__img {
	text-align: center;
	margin-bottom: -50px;
}
.contact__img img {
  max-height: 80px;
	border: 1px solid #ebebeb;
	padding: 15px;
	background-color: #fff;
}
.contact__text {
	border: 1px solid #ebebeb;
	padding: 60px 25px 25px;
}
.contact__title {
  font-weight: 600;
	font-size: 20px;
}
.contact__hours, .contact__web, .contact__phone {
	position: relative;
	line-height: 1.5;
	font-weight: 600;
	padding-left: 50px;
}
.contact__hours span, .contact__web span, .contact__phone span {
	font-weight: 400;
	font-size: 16px;
}
.contact__phone::before {
  content: '';
	position: absolute;
	background-image: url(../img/phone_icon.svg);
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	left: 0;
}
.contact__web::before {
  content: '';
	position: absolute;
	background-image: url(../img/globe_global_internet_icon.svg);
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	left: 0;
}
.contact__hours::before {
  content: '';
	position: absolute;
	background-image: url(../img/clock_icon.svg);
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	left: 0;
}
.airlines__single {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.logotype {
  grid-column: 1 / 3;
	justify-self: center;
	align-self: center;
}
.about {
	grid-column: 3 / 4;
}
.about span {
	font-weight: 600;
}
/*footer*/
footer {
	background-color: #ebebeb;
	padding-top: 60px;
	padding-bottom: 30px;
	margin-top: 15px;
}
.footer__logo {
	max-width: 260px;
	padding-left: 50px;
	position: relative;
}
.footer__logo a {
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
.footer__logo a::before {
	content: '';
	width: 40px;
	height: 40px;
	background-color: #ff0000;
	position: absolute;
	border-radius: 50%;
	left: 0;
}
.footer__logo p {
	font-size: 16px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__second {
  display: flex;
	justify-content: space-between;
	margin-top: 15px;
	font-size: 16px;
}
.contact a {
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
}





