@media only screen and (max-width : 1230px) {
	.header__menu {
    height: 135px;;
  }
	.logo p {
    font-size: 15px;
  }
	.logo a::before {
    width: 40px;
    height: 40px;
		top: 5px;
  }
	.logo {
    max-width: 230px;
    padding-left: 50px;
  }
	.list {
    font-size: 16px;
  }
	.content__blog {
    gap: 15px;
  }
}
@media only screen and (max-width : 1120px) {
	body {
    font-size: 17px;
  }
	.content__custom,
	.content__text {
		line-height: 1.5;
	}
	.blog__item__img {
    height: 200px;
    width: 100%;
  }
  .list {
  	font-size: 17px;
  }
	.category__title {
    font-size: 20px;
  }
	footer {
    padding-top: 40px;
    margin-top: 15px;
  }
}
@media only screen and (max-width : 1080px) {
	.logo a {
    font-size: 35px;
  }
	.logo p {
    font-size: 12px;
		margin-bottom: 0px;
  }
	.logo a::before {
    width: 35px;
    height: 35px;
    top: 3px;
  }
	.menu {
		position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 15px;
		margin-left: -300px;
	}
	.menu.active {
    margin-left: 0;
		transition: 0.5s;
	}
	.header__menu {
    height: 100px;
  }
	.menu__icon {
		display: block;
	}
	.menu__icon img {
		width: 45px;
	}
	.list li {
    display: block;
    margin-left: 15px;
		margin-bottom: 15px;
  }
	.menu__dropdown {
    border: none;
    border-radius: 5px;
    z-index: 99;
    background-color: #fff;
    position: relative;
    width: 100%;
    right: 0;
    display: none;
  }
	.menu__dropdown li a {
    display: block;
    padding: 5px 15px;
    font-size: 16px;
  }
	.footer__logo p {
    font-size: 12px;
  }
	.footer__logo {
    max-width: 230px;
  }
	.footer__logo a::before {
    width: 35px;
    height: 35px;
    top: 3px;
  }
	footer .list li {
    display: inline;
    margin-left: 15px;
  }
}
@media only screen and (max-width : 768px) {
	
}
@media only screen and (max-width : 667px) {
	
}
@media only screen and (max-width : 440px) {
	
}
@media only screen and (max-width : 375px) {
	h1 {
    font-size: 45px;
    line-height: 1.0;
    margin-bottom: 15px;
  }
	.swiper-slide p {
    font-size: 16px;
  }
	.swiper-slide h1 {
    margin-top: 140px;
   }
	.content__category {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
	.category__title {
    font-size: 18px;
  }
	.category__item img {
    height: 80px;
  }
	.category__item a {
    padding: 20px 0px;
  }
	.image-slider {
    height: 450px;
  }
	.content__blog {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
	.footer__second {
    justify-content: center;
    flex-wrap: wrap;
  }
	footer .list li:first-child {
    margin-left: 0px;
  }
}
